p {
    font-size: 12px;
    display: inline-block;
    /* text-align: center; */
}

.main-wrapper {
    border: solid red 0px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 26px 0 26px;
}

.inner-wrapper {
    border: solid red 0px;
    width: 68%;
    display: flex;
    justify-content: space-between;
}



/* .note-number {
    border: solid red 1px;
    display: inline-block;
} */

.compose-button {
    border: solid red 0px;
    width: 24px;
    padding-top: 4px;
}