<!-- <div 
    class="wrapper"
    fxLayout>
    <div class="note-number">
        <p>*number* Notes</p>
    </div>
    <div 
        class="compose-button">
        <mat-icon class="material-icons">create</mat-icon>
    </div>
</div> -->

<div 
    class="main-wrapper">
    <div class="inner-wrapper">
        <div class="note-number">
            <p>*number* Notes</p>
        </div>
        <div class="compose-button">
            <mat-icon class="material-icons">create</mat-icon>
        </div>
    </div>
</div>