<div class="wrapper">
    <mat-list>
        <mat-list-item class="note-item">
            <div mat-line>Item 1...</div>
            <div mat-line>Item 1 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 2...</div>
            <div mat-line>Item 2 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 3...</div>
            <div mat-line>Item 3 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 4...</div>
            <div mat-line>Item 4 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 5...</div>
            <div mat-line>Item 5 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 6...</div>
            <div mat-line>Item 6 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 7...</div>
            <div mat-line>Item 7 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 8...</div>
            <div mat-line>Item 8 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 9...</div>
            <div mat-line>Item 9 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 10...</div>
            <div mat-line>Item 10 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 11...</div>
            <div mat-line>Item 11 Date...</div>
        </mat-list-item>
        <mat-list-item class="note-item">
            <div mat-line>Item 12...</div>
            <div mat-line>Item 12 Date...</div>
        </mat-list-item>
    </mat-list>
</div>